<a href="https://colab.research.google.com/github/N3wBaz/mlops-zoomcamp/blob/main/01-intro/homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2021-01.parquet

--2022-05-22 04:58:56--  https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2021-01.parquet
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.217.36.92
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.217.36.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11886281 (11M) [binary/octet-stream]
Saving to: ‘fhv_tripdata_2021-01.parquet’

fhv_tripdata_2021-0 100%[===================>]  11.33M  5.75MB/s    in 2.0s

2022-05-22 04:58:59 (5.75 MB/s) - ‘fhv_tripdata_2021-01.parquet’ saved [11886281/11886281]

In [ ]:
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2021-02.parquet

--2022-05-22 04:59:07--  https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2021-02.parquet
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.217.203.249
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.217.203.249|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10645466 (10M) [binary/octet-stream]
Saving to: ‘fhv_tripdata_2021-02.parquet’

fhv_tripdata_2021-0 100%[===================>]  10.15M  5.60MB/s    in 1.8s

2022-05-22 04:59:10 (5.60 MB/s) - ‘fhv_tripdata_2021-02.parquet’ saved [10645466/10645466]

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_parquet("/content/gdrive/MyDrive/DataTalksClub/MLOps_course/1_st_homework/fhv_tripdata_2021-01.parquet")

In [ ]:
df1 = pd.read_parquet("/content/gdrive/MyDrive/DataTalksClub/MLOps_course/1_st_homework/fhv_tripdata_2021-02.parquet")

In [ ]:
df.dtypes

dispatching_base_num              object
pickup_datetime           datetime64[ns]
dropOff_datetime          datetime64[ns]
PUlocationID                     float64
DOlocationID                     float64
SR_Flag                           object
Affiliated_base_number            object
dtype: object

**Q1**

In [ ]:
df.shape

(1154112, 7)

In [ ]:
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037

In [ ]:
df['duration'] = df.dropOff_datetime - df.pickup_datetime 
df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)

# df = df[(df.duration >= 1) & (df.duration <= 60)]

# categorical = ['PULocationID', 'DOLocationID']
# numerical = ['trip_distance']

# df[categorical] = df[categorical].astype(str)

In [ ]:
df1['duration'] = df1.dropOff_datetime - df1.pickup_datetime 
df1.duration = df1.duration.apply(lambda td: td.total_seconds() / 60)

**Q2. Computing duration**

In [ ]:
df['duration'].mean()

19.1672240937939

**Q3. Missing values**

In [ ]:
df.isnull().sum() / df.shape[0] * 100
# df.shape

dispatching_base_num        0.000000
pickup_datetime             0.000000
dropOff_datetime            0.000000
PUlocationID               83.030676
DOlocationID               14.055828
SR_Flag                   100.000000
Affiliated_base_number      0.076682
duration                    0.000000
dtype: float64

In [ ]:
df.fillna(-1, inplace=True)

In [ ]:
df.isnull().sum()

dispatching_base_num      0
pickup_datetime           0
dropOff_datetime          0
PUlocationID              0
DOlocationID              0
SR_Flag                   0
Affiliated_base_number    0
duration                  0
dtype: int64

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

from sklearn.metrics import mean_squared_error

In [ ]:
len(df), len(df1)

(1154112, 1037692)

In [ ]:
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number,duration
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,-1.0,-1.0,-1,B00009,17.000000
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,-1.0,-1.0,-1,B00009,17.000000
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,-1.0,-1.0,-1,B00013,110.000000
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,-1.0,72.0,-1,B00037,8.283333
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,-1.0,61.0,-1,B00037,15.216667

In [ ]:
categorical = ['PUlocationID', 'DOlocationID']
df[categorical] = df[categorical].astype(str)
df1[categorical] = df1[categorical].astype(str)
df['PU_DO'] = df['PUlocationID'] + '_' + df['DOlocationID']
df1['PU_DO'] = df1['PUlocationID'] + '_' + df1['DOlocationID']

In [ ]:
import pandas as pd

# Multiple categorical columns
categorical_cols = ["PUlocationID", "DOlocationID"]

In [ ]:

dv = DictVectorizer()


train_dicts = df[categorical_cols].to_dict(orient='records')
X_train = dv.fit_transform(train_dicts)

val_dicts = df1[categorical_cols].to_dict(orient='records')
X_val = dv.transform(val_dicts)

**Q4. One-hot encoding**

In [ ]:
X_train

<1154112x525 sparse matrix of type '<class 'numpy.float64'>'
	with 2308224 stored elements in Compressed Sparse Row format>

In [ ]:
X_val

<1037692x525 sparse matrix of type '<class 'numpy.float64'>'
	with 1038338 stored elements in Compressed Sparse Row format>

In [ ]:
# train_dicts = df1[categorical_cols].to_dict(orient='records')
# dv = DictVectorizer()
# X_val = dv.fit_transform(train_dicts)

In [ ]:
df.shape

(1037692, 9)

In [ ]:
# train_dicts1 = df['PU_DO'].to_dict(orient='records')
# dv1 = DictVectorizer()
# X_train1 = dv1.fit_transform(train_dicts1)

from math import sqrt

In [ ]:
target = 'duration'
y_train = df[target].values
y_val = df1[target].values

**Q5. Training a model**

In [ ]:

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_train)
y_pred

sqrt(mean_squared_error(y_train, y_pred, squared=False))

19.963572094686437

In [ ]:
y_pred = lr.predict(X_val)

**Q6. Evaluating the model**

In [ ]:
sqrt(mean_squared_error(y_val, y_pred, squared=False))

12.692939063659738